<!DOCTYPE html>
<html lang="en">

{% extends "base_generic.html" %}

{% block content %}

        <form method="post" action="{% url 'login' %}" class="form-horizontal">
            {% csrf_token %}

            <input type="text"
                   placeholder="Username"
                   class="form-control"
                   name="username">


            <input type="password"
                       placeholder="Password"
                       class="form-control"
                       name="password">

            <input type="submit" value="Login"/>

            <input type="hidden" name="next" value="{% url 'index' %}"/>

        </form>

{% endblock %}

</html>